@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root {
    --primary-color: #e94d52;
}

* {
    font-family: "Poppins";
}

@theme {
  --color-page-bg: #e94d5210;
  --color-primary: #e94d52;
  --color-primary-bg: #fff;
  --color-primary-text: #000;
}

[data-theme="dark"] {
  --color-page-bg: #2a2a2a;
  --color-primary-bg: #212121;
  --color-primary-text: #fff;
}

@layer base {
  html {
    @apply text-primary-text;
  }

  body {
    @apply bg-page-bg;
  }
}

.active {
    padding: 4px 12px;
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;
}

.active-page { background-color: var(--primary-color); color: white; }



@layer components {
  .primary-btn {
    @apply py-2 px-6 font-bold border text-white border-primary bg-primary cursor-pointer rounded-lg hover:scale-105;
  }
  .secondery-btn {
    @apply py-2 px-6 font-bold border text-primary border-primary bg-primary-bg cursor-pointer rounded-lg hover:scale-105;
  }
}

.Toastify__toast {
  border: 2px solid rgba(128, 128, 128, 0.382);
  background: var(--color-primary-bg);
  color: var(--color-primary-text);
}

.Toastify__close-button {
  color: var(--color-primary-text);
  opacity: 0.6;
}